"$schema" = 'https://starship.rs/config-schema.json'

format = """
[](surface0)\
$os\
$username\
[](bg:peach fg:surface0)\
$directory\
[](fg:peach bg:green)\
$git_branch\
$git_status\
[](fg:green bg:teal)\
$c\
$rust\
$golang\
$nodejs\
$php\
$java\
$kotlin\
$haskell\
$python\
[](fg:teal bg:blue)\
$docker_context\
[](fg:blue bg:purple)\
$time\
[ ](fg:purple)\
$line_break$character"""

# --- THEME SWITCHER ---
# Change this string to switch themes:
# Options: "catppuccin_mocha", "aci", "monokai_soda"
palette = 'monokai_soda'

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
orange = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"

[palettes.aci]
# Mapped Aci colors to your layout keys
rosewater = "#ff1e8e"
flamingo = "#ff0883"
pink = "#ff1e8e"
orange = "#ff8e1e"
red = "#ff0883"
maroon = "#ff0883"
peach = "#ff8308" # Aci Orange
yellow = "#ff8308"
green = "#83ff08" # Aci Green
teal = "#08ff83"  # Aci Cyan
sky = "#1e8eff"
sapphire = "#0883ff"
blue = "#0883ff"
lavender = "#b4e1fd"
text = "#b4e1fd"
subtext1 = "#b6b6b6"
subtext0 = "#b6b6b6"
overlay2 = "#424242"
overlay1 = "#363636"
overlay0 = "#363636"
surface2 = "#424242"
surface1 = "#363636"
surface0 = "#363636" # Background for OS/User modules
base = "#0d1926"     # Main Background
mantle = "#0d1926"
crust = "#0d1926"

[palettes.monokai_soda]
# Mapped Monokai colors to your layout keys
rosewater = "#f4005f"
flamingo = "#f4005f"
pink = "#f4005f"
orange = "#fa8419"
red = "#f4005f"
maroon = "#f4005f"
peach = "#fa8419" # Monokai Orange
yellow = "#e0d561"
green = "#98e024" # Monokai Green
teal = "#58d1eb"  # Monokai Cyan
sky = "#58d1eb"
sapphire = "#9d65ff"
blue = "#58d1eb"
lavender = "#f6f6ef"
text = "#f6f6ef"
subtext1 = "#c4c5b5"
subtext0 = "#625e4c"
overlay2 = "#625e4c"
overlay1 = "#444444"
overlay0 = "#444444"
surface2 = "#444444"
surface1 = "#222222"
surface0 = "#444444" # Lighter grey for OS/User contrast
base = "#222222"     # Main Background
mantle = "#222222"
crust = "#191919"

[os]
disabled = false
style = "bg:surface0 fg:text"

[os.symbols]
Windows = "󰍲"
Ubuntu = "󰕈"
SUSE = ""
Raspbian = "󰐿"
Mint = "󰣭"
Macos = ""
Manjaro = ""
Linux = "󰌽"
Gentoo = "󰣨"
Fedora = "󰣛"
Alpine = ""
Amazon = ""
Android = ""
Arch = "󰣇"
Artix = "󰣇"
CentOS = ""
Debian = "󰣚"
Redhat = "󱄛"
RedHatEnterprise = "󱄛"
CachyOS = "" # Or use " " or "󰣇 " (speed icon)
# ... keep your other OS symbols ...

[username]
show_always = true
style_user = "bg:surface0 fg:text"
style_root = "bg:surface0 fg:text"
format = '[ $user ]($style)'

[directory]
style = "fg:mantle bg:peach"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = "󰝚 "
"Pictures" = " "
"Developer" = "󰲋 "

[git_branch]
symbol = ""
style = "bg:teal"
format = '[[ $symbol $branch ](fg:base bg:green)]($style)'

[git_status]
style = "bg:teal"
format = '[[($all_status$ahead_behind )](fg:base bg:green)]($style)'

[nodejs]
symbol = ""
style = "bg:teal"
format = '[[ $symbol( $version) ](fg:base bg:teal)]($style)'

[c]
symbol = " "
style = "bg:teal"
format = '[[ $symbol( $version) ](fg:base bg:teal)]($style)'

[rust]
symbol = ""
style = "bg:teal"
format = '[[ $symbol( $version) ](fg:base bg:teal)]($style)'

[golang]
symbol = ""
style = "bg:teal"
format = '[[ $symbol( $version) ](fg:base bg:teal)]($style)'

[php]
symbol = ""
style = "bg:teal"
format = '[[ $symbol( $version) ](fg:base bg:teal)]($style)'

[java]
symbol = " "
style = "bg:teal"
format = '[[ $symbol( $version) ](fg:base bg:teal)]($style)'

[kotlin]
symbol = ""
style = "bg:teal"
format = '[[ $symbol( $version) ](fg:base bg:teal)]($style)'

[haskell]
symbol = ""
style = "bg:teal"
format = '[[ $symbol( $version) ](fg:base bg:teal)]($style)'

[python]
symbol = ""
style = "bg:teal"
format = '[[ $symbol( $version) ](fg:base bg:teal)]($style)'

[docker_context]
symbol = ""
style = "bg:mantle"
format = '[[ $symbol( $context) ](fg:#83a598 bg:color_bg3)]($style)'

[time]
disabled = false
time_format = "%R"
style = "bg:peach"
format = '[[  $time ](fg:mantle bg:purple)]($style)'

[line_break]
disabled = false

[character]
disabled = false
success_symbol = '[](bold fg:green)'
error_symbol = '[](bold fg:red)'
vimcmd_symbol = '[](bold fg:creen)'
vimcmd_replace_one_symbol = '[](bold fg:purple)'
vimcmd_replace_symbol = '[](bold fg:purple)'
vimcmd_visual_symbol = '[](bold fg:lavender)'
